<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

<listeners>
<listener class-name="com.Epicon.Utilities.ExtentListnerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Epicon.TestCases.Epicon_TC01_Login"/>
    </classes>
  </test> <!-- Test -->
  

</suite> <!-- Suite -->
